html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
}

.barra-head {
    width: auto;
    height: 15rem;
    display: flex;
    align-items: center;
    background-color: white;
    max-height: 150px;
}

.logo {
    margin-left: 9rem;
    max-width: 27rem;
}